* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(250, 249, 249);
}

img {
    width: 700px;
    height: 500px;
    object-fit: cover;

    @media screen and (max-width: 750px) {
        width: 500px;
        height: 350px;
    }
    @media screen and (max-width: 550px) {
        width: 350px;
        height: 200px;
    }
}

.img-comp-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
    background: #888;

    @media screen and (max-width: 750px) {
        width: 500px;
        height: 350px;
    }

    @media screen and (max-width: 550px) {
        width: 350px;
        height: 200px;
    }
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.img-comp-slider-line {
    position: absolute;
    z-index: 8;
    cursor: ew-resize;
    width: 4px;
    top: 0;
    bottom: 0;
    height: 500px;
    background-color: #f8f9fa;
    opacity: 1;
    box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.7);

    &::before {
        content: '';
        position: absolute;
        z-index: 9;
        cursor: ew-resize;
        width: 40px;
        height: 40px;
        background-color: #f8f9fa;
        opacity: 1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 12;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background: #888;
        border-radius: 50%;
        transition: .5s;
    }

    &:hover {
        &::after {
            background: rgb(255, 254, 254);
            border: 2px solid #888;
        }

    }
}